<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YPOSchedulerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <YPOSchedulerService.Properties.Settings>
            <setting name="YPOSchedulerService_YPOWebService_YPOService"
                serializeAs="String">
                <value>http://192.168.1.143:81/YPOService/YPOService.asmx</value>
            </setting>
        </YPOSchedulerService.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <!--set ScheduleInterval time for 30 min-->
    <add key="scheduleInterval" value="1800000"/>
    <!--set ScheduleInterval time for 30 min-->
    <add key="webServiceResponseTime" value="1800000"/>
  </appSettings>
</configuration>